<ion-view view-title="Configurações">
    <ion-content>
        <div class="list">

            <li class="item item-input item-select">
                <div class="input-label">
                    Lightsaber
                </div>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </li>
            <li class="item item-toggle">
                Notificações
                <label class="toggle toggle-energized">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <a ui-sref="app.address" class="item item-icon-right">
                <i class="icon ion-arrow-right-b"></i>
                Endereços
            </a>
        </div>
    </ion-content>
</ion-view>
