<form ng-submit="lostPassword()">
    <div class="list">
        <div ng-show="!passwordSent">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="lostPasswordData.email">
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit">Recuperar senha</button>
            </label>
        </div>
        <div ng-show="passwordSent" class="text-center">
            <p>Sua senha foi enviada para seu email.</p>
        </div>
        <div class="row text-center">
            <a class="col" href="#/login">Entrar com email</a>
        </div>
    </div>
</form>